* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    width: 100vw;
    height: 100vh;

    display: flex; align-items: center; justify-content: center;
}

.welcome {
    font-weight: 800;
    opacity: .8;
    margin-left: -2vw;
}

.main-title {
    font-size: min(15vw, 7rem);
    font-family: 'Great Vibes';
}