* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    color: #302f2d;
}

section {
    max-width: 100vw;
    height: 85vh;
}

#header {
    display: flex; align-items: center; justify-content: center;
    background-color: #f4f4f4;
}

#main {
    display: flex; justify-content: center;
    padding: 10%;
    height: 60vw;
    min-height: 30rem;
}
#local-wrapper {
    height: 100%;
    width: 100%;
    max-width: 40rem;
}
#map-container { 
    height: 80%;
}

.welcome {
    font-weight: 600;
    opacity: .8;
    margin-left: -2vw;
}

#main-title {
    font-size: min(15vw, 7rem);
    font-family: 'Great Vibes';
}