#address {
    padding: 10%;
}

#local-wrapper {
    width: 100%;
    max-width: 40rem;
}

#map-container {
    aspect-ratio: 3/2;
}

address {
    margin-top: 1rem;
    font-weight: 600;
    font-style: normal;
}