#address {
    padding: 10%;
    min-height: 30rem;
}

#local-wrapper {
    height: 60vw;
    width: 100%;
    max-width: 40rem;
}

#map-container {
    height: 80%;
}

address {
    margin-top: 1rem;
    font-weight: 600;
    font-style: normal;
}