section#header {
    display: flex;
    flex-direction: column;
    background-color: #fff4f4;
    height: 85vh;
}

header {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
}

#nav-bar {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: .6rem;
}

#nav-bar>a {
    text-decoration: none;
    padding: .8rem;
    border-radius: .3rem;
}

#nav-bar>a:hover {
    background-color: #e4e4e4;
}

.welcome {
    font-weight: 600;
    opacity: .8;
    margin-left: -2vw;
}

#main-title {
    font-size: min(15vw, 7rem);
    font-family: 'Great Vibes';
}