* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #302f2d;
}

body { font-display: swap; }

section {
    max-width: 100vw;
    min-height: 85vh;

    display: flex;
    justify-content: center;
}