* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #302f2d;
}

body { font-display: swap; }

section {
    max-width: 100vw;
    height: 85vh;
}   

#address {
    display: flex; justify-content: center;
    padding: 10%;
    height: 60vw;
    min-height: 30rem;
}
#local-wrapper {
    height: 100%;
    width: 100%;
    max-width: 40rem;
}
#map-container { 
    height: 80%;
}